h1 {
    color: rebeccapurple;
}

/* * {
    border: solid;
} */

.header{
    background-color: pink;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
    color:white;
}
h3{
 text-align: center;
 color:white;}

body{
background-color:black ;
}

image{
    image-align: center;
}